Source: awl
Section: catalyst
Priority: extra
Maintainer: Andrew McMillan <andrew@catalyst.net.nz>
Standards-Version: 3.5.9
Build-Depends: debhelper

Package: libawl-php
Architecture: all
Depends: debconf (>= 1.0.32), perl, bash
Description: Andrew's Web Libraries - PHP Utility Libraries
 This package contains Andrew's Web Libraries.  This is a set
 of hopefully lightweight libraries for handling a variety of
 useful things for web programming, including:
  - Session management
  - User management
  - DB Records
  - Simple reporting
  - DB Schema Updating
 .
 There is some documentation in phpdoc format for some of these
 things, but not all.
